/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    width: 100%;
}

.picture-frame {
    width: 80%;
    top: 150px;

    /* max-height: 10%; */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 5px solid black; */
}
.picture-frame img {
    width:100%;
    padding: 10%;
    overflow: hidden;
}

.vintage-playground {
    border: 5px solid gold;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 300px;
    /* flex-wrap: wrap; */
}
@media screen and (min-width: 500px) {
    body {
        background: red;
    }
}

@media screen and (min-width: 700px){
    body {
        background: purple;
    }
}